{% extends '::base.html.twig' %}

{% block body %}
    <h1>Articles CRUD</h1>

    <div class = "row">
    {% for articulo in articulos %}

        <div class ="col-sm-4 col-md-4 col-lg-4">
        <div class="card">

           <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="card-block">
                <h4 class="card-title">{{ articulo.titulo }}</h4>
                {% if articulo.user == app.user%}
                    <span >
                        <a class ="fi glyphicon glyphicon-remove" href="{{ path('app_articulo_delete', {'id' : articulo.id}) }}"></a>
                        <a class ="fi glyphicon glyphicon-pencil" href="{{ path('app_articulo_update', {'id' : articulo.id}) }}"></a>
                    </span>
                {% endif %}
                <p class="card-text"> <a href="{{ path('app_articulo_single', {'id' : articulo.user.getId}) }}">{{ articulo.user }}</a></p>
                <p> {{ articulo.cuerpo }}</p>
                <p> Fecha de creacion: {{ articulo.createAt|date("d/m/y H:i:s") }}</p>
                <p> Ultima actualizacion: {{ articulo.updateAt|date("d/m/y H:i:s") }}</p>
            </div>
        </div>
        </div>

    {% endfor %}
    </div>

{% endblock %}